
@import "../abstracts/_mixins.scss";

div.wallet_wrapper{
     @include respond (tab-land) {
         width:100%;
     }
      @include respond (tab-port) {
       
      }
       @include respond (android-phone) {
           width: 100%;
       }
    div.wallet_top {
    display:grid;
    grid-template-columns: 1fr 4fr;
        @include respond (android-phone) {
            width: 100%;
        }
    // margin-top: 37rem;
    .wallet_name {
     font-family: var (--default-font);
     font-style: normal;
     font-weight: 600;
     font-size: 24px;
     line-height: 29px;
     margin-right:5rem;
     @include respond (tab-land){
         margin-left:6rem;
     }
 
      
    
           }
  .wallet_button {
 margin-left: 40rem;
 padding-left:17rem;
     @include respond (tab-land) {
         margin-left: 25rem;
     }
        @include respond (tab-port) {
        margin-left: -13rem;
        }
         @include respond (android-phone) {
             margin-right: 96rem;
         }
            // @include respond (small-android) {
            //     width: 150px;
            //     margin-right: 3rem;
            // }
          
 .back_home {
     width: 176px;
     height: 48px;
     background: #000000;
     color:white;
     border:none;
     margin-top:-15rem;
       @include respond (tab-port) {
           margin-top: 3rem;
           margin-right:10rem;
           width:130px;
       }
         @include respond (small-android) {
             width:80px;
              margin-right:3rem;
         }
      }
.button1 {
         margin-right:3rem;
          }
 .button2{
            margin-right: 3rem;
           }
             
        }
.current_balance {
    font-family: var (--default-font);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top:5rem;
    margin-left:2rem;
         
    
}

.profile_settings {
    width: 142px;
height: 100px;
background: #F0F0F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border:none;
 margin-left: 57rem;
  margin-top:1rem;

     @include respond (tab-port) {
         margin-left: 2.5rem;
     }
        @include respond (small-android) {
            width: 90px;
            margin-right: 2rem;
        }
 .profile_settings_button {
   width: 142px;
   height: 100px;
border-radius: 8px;
border:none;

    @include respond (small-android) {
        width: 90px;
        margin-right: 2rem;
    }
    }


 
}   
        }

        .second_layer {

            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
    .balance {
         font-family: var (--default-font);
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        color: #54DFC5;
        margin-left: 2rem;
         margin-top: 4rem;


    }
    .wallet_button {
           @include respond (small-android) {
               width: 90px;
               margin-right: 15rem;
           }
    .withdraw_button {
        width: 183px;
        background: #000000;
        margin-right: 15rem;
        margin-top: 5rem;
        color: white;
        height: 48px;
        border: none;
            @include respond (tab-port) {
                margin-left: -28rem;
                  width: 150px;
            }
              @include respond (small-android) {
                  width: 100px;
                position: relative;
                left:4rem;
              }

    }
      }
 .Royalties_Tracker {
    font-family: var (--default-font);
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #000000;
  margin-top: 5rem;
 position: relative;
 right: 2rem;

    @include respond (tab-port) {
        margin-left:-72rem;
         margin-top:13rem;
          width: 150px;
    }
    @include respond (small-android) {
        width: 90px;
        margin-right: 2rem;
    }
 .total_revenue {
    
    font-family: var (--default-font);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #888282;
      }
      }
      }
      
.bottom{
    display: grid;
    grid-template-columns: 1fr  ;
      margin-top: 12rem;
          @include respond (small-android) {
              width: 5%;

          }
        
.Header {
    font-family: var (--default-font);
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #000000;
.bottom_filter {
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #54DFC5;
  top: -3rem;
  position: relative;
  margin-left: 40rem;
  width: 15rem;
  border: none;
   @include respond (tab-port) {
        margin-left: 18rem;
   }
       }
    }
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
      @include respond (tab-port) {
          width: 5%;
      }
         @include respond (small-android) {
             width: 6%;
             
         }
  
}


th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
     font-family: var (--default-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
   border-right: none;
   background: #54DFC5;
}

td {
    font-family: var (--default-font);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #000000;
  border-right: none;
  padding: 0.5rem 1rem;

    }

tr:nth-child(even) {
    background-color: #dddddd;
}
.below_button{
    width: 183px;
    height: 48px;
    color:white;
    border:none;
    margin-top:3rem;
    margin-left:39rem;
    background: #000000;
     @include respond (tab-land) {
       margin-left:30rem;
     }

       @include respond (tab-port) {
           margin-left: 17rem;
       }
          @include respond (small-android) {
              width:160px;
          }
}
    
.chart {
width:22%;
height:10%;
margin-left:70rem;
margin-top:-35rem;
 @include respond (tab-land) {
     margin-top:-30rem;
 }
    @include respond (tab-port) {
    margin-top:5rem;
   position: relative;
   right:65rem;
   width:18%;
    }

    }
     }
}